/**********************
*   Carousel          *
***********************
*
*/


// Basic 8 slide carousel

.carousel {
	position: relative;
	overflow: hidden;
	height: 430px;
	//max-height: calc(100vh - 56px);
	.carousel-item {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		padding: 0.75rem 3.5rem;
		opacity: 0;
		//transform: scale(1.5);
		//background-color: #fafafa;
		transition: all 0.3s ease-in;
		text-align: center;
	}
	label {
		cursor: pointer;
		display: inline-block;
	}
	> input[type="radio"], input[name="play"]  {
		display: none;
	}
	.carousel-nav {
		position: absolute;
		width: 100%;
		bottom: 0;
		z-index: 900;
		text-align: center;
		label {
			background-color: rgba(black, 0.3);
			border-radius: 50%;
			width: 14px;
			height: 14px;
			margin: 0.75rem 0.5rem;
			border: 2px solid #fff;
			@extend .shadow-1;
		}
	}
	.arrow {
		position: absolute;
		top: 0;
		display: block;
		height: 100%;
		text-align: center;
		background-color: rgba(black,.1);

		&.arrow-prev {
			left: 0;
		}
		&.arrow-next {
			right: 0;
		}
		&.arrow-play {
			left: 50%;
			transform: translateX(-50%);
		}
		i {
			top: 50%;
			transform: translateY(-50%);
			font-size: 50px;
			padding: 0 0.5rem;
			color: #fff;
			position: relative;
			//background-color: rgba(black,.35);
			line-height: 1;
			//@extend .shadow-4;
		}
	}

	input:nth-child(1):checked ~ .carousel-nav label:nth-child(1),
	input:nth-child(2):checked ~ .carousel-nav label:nth-child(2),
	input:nth-child(3):checked ~ .carousel-nav label:nth-child(3),
	input:nth-child(4):checked ~ .carousel-nav label:nth-child(4),
	input:nth-child(5):checked ~ .carousel-nav label:nth-child(5),
	input:nth-child(6):checked ~ .carousel-nav label:nth-child(6),
	input:nth-child(7):checked ~ .carousel-nav label:nth-child(7),
	input:nth-child(8):checked ~ .carousel-nav label:nth-child(8) {
		background-color: rgba(black, 0.7);
	}

	input:nth-child(1):checked ~ .carousel-items .carousel-item:nth-child(1), 
	input:nth-child(2):checked ~ .carousel-items .carousel-item:nth-child(2), 
	input:nth-child(3):checked ~ .carousel-items .carousel-item:nth-child(3), 
	input:nth-child(4):checked ~ .carousel-items .carousel-item:nth-child(4), 
	input:nth-child(5):checked ~ .carousel-items .carousel-item:nth-child(5), 
	input:nth-child(6):checked ~ .carousel-items .carousel-item:nth-child(6), 
	input:nth-child(7):checked ~ .carousel-items .carousel-item:nth-child(7), 
	input:nth-child(8):checked ~ .carousel-items .carousel-item:nth-child(8) {
		transform: scale(1);
		opacity: 1;
		z-index: 100;
		transition: opacity .5s ease-out;
	}	
}