/**********************
*   Tabs            *
***********************
*
*/


// Tabs

.tabular {
	.tabs-nav {
		display: inline-block;
		width: 100%;
		margin-bottom: 0;
		background-color: $primary-color;
		white-space: nowrap;
		overflow: hidden;
		overflow-x: auto;
		@extend .shadow-2;
		li {
			display: inline-block;
			margin: 4px;
			padding: 0;
			// border-top: 4px solid transparent;
			> a {
				padding: 0 0.75rem;
				margin: 0;
				display: inline-block;
				color: $text-color;
				line-height: 3;
				border-radius: 2px;
				transition: .3s;
				&:hover, &:active {
					background-color: rgba(#b4b4b4, 0.3);
				}
			}
			&.active {
				// border-color: $secondary-color;
				> a {
					color: #fff;
					background-color: $secondary-color;
					@extend .shadow-1;
				}
			}

		}
	}

	.tabs-content {
		background-color: #fff;
		padding: 1rem 1.5rem;
		.tabs-panel {
			display: none;
			&.active {
				display: block;
			}
		}
	}
}